*{
    margin: 0;
    padding: 0;
}

button{
    height: 60px;
    width: 100px;
    border: 0;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 200ms ease;
    color: rgb(255, 254, 254);
    background-color: rgb(67, 47, 31);
}

button:hover{
    transform: scale(1.1);
    background-color: rgb(64, 47, 41);
}

body{
    background:url(fundo\ hp.jpg) ;
    background-attachment: fixed;
    width:auto;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(63, 26, 26);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px 40px 20px 40px;
    font-size: 40px;
}

.titulo{
    text-align: center;
    background: #fff;
    margin: 80px;
}
.botao{
    text-align: center;
}

.lista{
    text-align: center;
    background: #fff;
    margin: 80px;
}

dt, dd{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(63, 26, 26);
}

